.intro-content {
  position: relative;
  top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}

.intro-text-content,
.css-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img,
svg {
  width: 120%;
  height: auto;
  margin-bottom: 100rem;
}

.css-content {
  max-width: 64rem;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

.intro-img img,
svg {
  min-height: 60vh;
}
